.container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.form-container {
  flex: 1;
  padding-right: 20px;
}

.email-form {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.email-form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.email-form input[type="email"],
.email-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.email-form textarea {
  height: 150px;
}

.email-form button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.email-form button:hover {
  background-color: #45a049;
}

.search-container {
  position: fixed;
  top: 20px;
  right: 20px;
}

.search-container input[type="text"] {
  width: 300px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-container button {
  height: 50px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #9c13ce;
}

table th {
  background-color: #9c13ce;
  color: #fff;
}

.university-details {
  position: fixed;
  top: 80px;
  right: 20px;
  background-color:#c096bd;
  padding: 20px;
  color: #9c13ce;
}

.selected {
  background-color: #9c13ce;
  cursor: pointer;
}
